
body {
    font-family: "Lucida Console", Monaco, monospace
}

.gui-container {
    width: 400px;
    height: 500px;
    margin-right: 4px;
}

.navbar-xs .navbar-primary .navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 28px; }

.scoreboard {
    text-align: center;
    width: 100px;
    margin: auto;
    padding: 10px;
    font-size: large;
}

.incidents-btns {
    margin-bottom: 20px;
    margin-top: 20px;
}

.score .match-time {
    color: inherit;
}

.match-time {
    font-size: x-large;
}

.incident_list {
    overflow-y: auto;
    height: 100px;
}

.ui.mini.checkbox {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.yellow_card {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: gold;
}

.red_card {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: red;
}

.cards {
    margin: 15px;
}