<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="football-gui.css">
</head>
<body ng-app="footballGuiApp" ng-controller="guiController">

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-7">
    <ul class="nav navbar-nav">
        <li>
            <span>Football In-Play GUI</span>
        </li>
        <li>
            <input type="text" ng-model="matchId" class="form-control" placeholder="MatchId"
                   aria-describedby="basic-addon1">
        </li>
        <li>
            <button class="btn-default btn" ng-click="addMatch()">Add</button>
        </li>
    </ul>
</div>

<div class="row">

    <div ng-repeat="match in matches" ng-controller="matchCtrl" class="gui-container col-md-4">

        <div>
            ID: {{ match }}
        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="cards">
                    <div class="row">
                        <div ng-repeat="incident in state.incidents | homeYellowFilter" class="yellow_card pull-left"></div>

                    </div>
                    <div class="row">
                        <div ng-repeat="incident in state.incidents | homeRedFilter" class="red_card pull-left"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="scoreboard row">
                    <div class="match-time">
                        {{ state.time }}
                    </div>

                    <div class="score">
                        {{ state.homeScore }} - {{ state.awayScore }}
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="cards">
                    <div class="row">
                        <div ng-repeat="incident in state.incidents | awayYellowFilter" class="yellow_card pull-right"></div>
                    </div>
                    <div class="row">
                        <div ng-repeat="incident in state.incidents | awayRedFilter" class="red_card pull-right"></div>
                    </div>
                </div>
            </div>

        </div>


        <div class="incidents-btns">
            <div class="row">
                <div class="col-md-6">
                    <div ng-click="homeGoal()" class="btn btn-danger pull-right">Home Goal</div>
                </div>
                <div class="col-md-6">
                    <div ng-click="awayGoal()" class="btn btn-danger">Away Goal</div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div ng-click="homeYellow()" class="btn btn-default pull-right">Home Yellow</div>
                </div>
                <div class="col-md-6">
                    <div ng-click="awayYellow()" class="btn btn-default">Away Yellow</div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div ng-click="homeRed()" class="btn btn-default pull-right">Home Red</div>
                </div>
                <div class="col-md-6">
                    <div ng-click="awayRed()" class="btn btn-default">Away Red</div>
                </div>
            </div>

        </div>

        <div class="incident_list">
            <div class="row center-block">
                <div class="col-md-12">
                    <div class="ui selection list">
                        <div class="item" ng-repeat="incident in state.incidents" style="padding: 0px; margin: 0px">
                            <div class="ui mini checkbox">
                                <div class="btn btn-xs btn-danger" style="font-size: xx-small">
                                    delete
                                </div>
                                <label style="font-size: xx-small">
                                    {{ incident.time }} - {{ incident.name }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>

<!-- angular -->
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script src="scripts/app.js"></script>
</body>
</html>
